<div class="page-header">
  <h3>Vibe #<%= @vibe.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @vibe.name %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/vibes" class="btn btn-primary">
        Back
      </a>
      <a href="/vibes/<%= @vibe.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_vibe/<%= @vibe.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Vibe has many tags -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Tags
      </li>

      <% @vibe.tags.each do |tag| %>
        <li class="list-group-item">
          <a href="/tags/<%= tag.id %>">
            <%= tag.vibe_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/tags/<%= tag.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/tags/<%= tag.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_tag/<%= tag.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_tag" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for vibe_id -->
      <input type="hidden" name="vibe_id" value="<%= @vibe.id %>">

      <!-- Label and input for destination_id -->
      <div class="form-group">
        <label for="destination_id" class="control-label">
          Destination
        </label>

        <%= select_tag(:destination_id, options_from_collection_for_select(Destination.all, :id, :name), :class => "form-control") %>
      </div>

      <button class="btn btn-block btn-success">
        Create Tag
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Vibe has many destinations -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Destinations
      </li>

      <% @vibe.destinations.each do |destination| %>
        <li class="list-group-item">
          <a href="/destinations/<%= destination.id %>">
            <%= destination.name %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/destinations/<%= destination.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/destinations/<%= destination.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_destination/<%= destination.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
