<div class="page-header" align = "center">
  <h1>
    My Favorites
  </h1>
</div>

  <div class= "container" align = "center">
      <% @favorites.each do |favorite| %>
      <div class = "row">
            <div class="col-md-12" align = "center">
            <h4><%= favorite.destination.name %></h4>
            </div>
            </div>
            <div class = "row align-items-center">
              
          <% if favorite.destination.present? %>
            <a href="/destinations/<%= favorite.destination.id %>">
              <%= image_tag(favorite.destination.image_url, size: 500, class: "img-thumbnail") %>
            </a>
            </div>
            
          <% end %>
          <div class= "row align-items-center">
          
          <a href="/destinations/<%= favorite.destination.id %>" class="btn btn-primary">Show</a>
          
          <% if current_user == favorite.user %>
            <a href="/delete_favorite/<%= favorite.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
          <% end %>
          </div>
          
      <% end %>
    <%= paginate @favorites, theme: 'twitter-bootstrap-4' %>
  </div>
  </div>

