<!-- Validation failure messages -->
<% if @flight.errors.any? %>
  <% @flight.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Flight #<%= @flight.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_flight/<%= @flight.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for min_cost -->
      <div class="form-group">
        <label for="min_cost" class="control-label">
          Min cost
        </label>

        <input type="text" id="min_cost" name="min_cost" placeholder="Min cost" class="form-control" value="<%= @flight.min_cost %>">
      </div>

      <!-- Label and input for destination_id -->
      <div class="form-group">
        <label for="destination_id" class="control-label">
          Destination
        </label>

        <%= select_tag(:destination_id, options_from_collection_for_select(Destination.all, :id, :name, @flight.destination_id), :class => "form-control") %>
      </div>

      <button class="btn btn-warning">
        Update Flight
      </button>
      or
      <a href="/flights/<%= @flight.id %>">Cancel</a>
    </form>
  </div>
</div>
