<div class="page-header">
  <h1>
    My Recommendations
  </h1>
</div>
      
      
      <% @recommendations.each do |recommendation| %>
        <% if recommendation.destination.present? %>
            <div class="row">
            <div class="col-md-4">
            <h4><%= recommendation.destination.name %></h4>
            </div>
            </div>
            <div class = "row">
              <div class = "col-md-6">
                <a href="/destinations/<%= recommendation.destination.id %>">
                <%= image_tag(recommendation.destination.image_url, size: 350, class: "img-thumbnail") %>
                </a>
                </div>
              <div class="col-md-4 text-center">
                <h5>Travel & Leisure Magazine Description:</h5>
                <%= recommendation.destination.description %>
                <br>
                <br>
                <% if current_user == recommendation.user %>
                  <% if Favorite.find_by(:user_id => current_user.id, :destination_id => recommendation.destination_id) == nil %>
                    <%= form_tag("/create_favorite", method: "post") do %>
                      <%= hidden_field_tag 'destination_id', recommendation.destination_id %>
                      <%= hidden_field_tag("user_id", current_user.id) %>
                      <%= submit_tag("Favorite", class:"btn btn-primary") %>
                    <% end %>
                <% else %>
                  <% l=Favorite.find_by(:user_id => current_user.id, :destination_id => recommendation.destination_id) %>
                  <a href = "/delete_favorite/<%=l.id %>" class="btn btn-primary">Delete Favorite</a>
                <% end %>
                <a href="/delete_recommendation/<%= recommendation.id %>" class="btn btn-danger" rel="nofollow">Delete Recommendation</a>
                <% end %>
                </br>
                </br>
              </div>
            </div>
         <% end %>
      <% end %>
    <%= paginate @recommendations, theme: 'twitter-bootstrap-4' %>

