<div class="page-header">
  <h3>Recommendation #<%= @recommendation.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd>
        <% if @recommendation.user.present? %>
          <a href="/users/<%= @recommendation.user_id %>">
            <%= @recommendation.user.email %>
          </a>
        <% end %>
      </dd>

      <dt>Destination</dt>
      <dd>
        <% if @recommendation.destination.present? %>
          <a href="/destinations/<%= @recommendation.destination_id %>">
            <%= @recommendation.destination.name %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/recommendations" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @recommendation.user %>
        <a href="/recommendations/<%= @recommendation.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_recommendation/<%= @recommendation.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>
