<!-- Validation failure messages -->
<% if @destination.errors.any? %>
  <% @destination.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Destination #<%= @destination.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_destination/<%= @destination.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="control-label">
          Name
        </label>

        <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="<%= @destination.name %>">
      </div>

      <!-- Label and input for description -->
      <div class="form-group">
        <label for="description" class="control-label">
          Description
        </label>

        <input type="text" id="description" name="description" placeholder="Description" class="form-control" value="<%= @destination.description %>">
      </div>

      <!-- Label and input for tag_id -->
      <div class="form-group">
        <label for="tag_id" class="control-label">
          Tag
        </label>

        <%= select_tag("vibe_id", options_from_collection_for_select(Vibe.all, :id, :name, @destination.try(:vibe_id)), :class => "form-control") %>
      </div>

      <!-- Label and input for image_url -->
      <div class="form-group">
        <label for="image_url" class="control-label">
          Image url
        </label>

        <input type="text" id="image_url" name="image_url" placeholder="Image url" class="form-control" value="<%= @destination.image_url %>">
      </div>

      <!-- Label and input for latitude -->
      <div class="form-group">
        <label for="latitude" class="control-label">
          Latitude
        </label>

        <input type="text" id="latitude" name="latitude" placeholder="Latitude" class="form-control" value="<%= @destination.latitude %>">
      </div>

      <!-- Label and input for longitude -->
      <div class="form-group">
        <label for="longitude" class="control-label">
          Longitude
        </label>

        <input type="text" id="longitude" name="longitude" placeholder="Longitude" class="form-control" value="<%= @destination.longitude %>">
      </div>

      <button class="btn btn-warning">
        Update Destination
      </button>
      or
      <a href="/destinations/<%= @destination.id %>">Cancel</a>
    </form>
  </div>
</div>
