<div class="page-header">
  <h1 class = "text-center">
    What kind of trip are you looking for ?
  </h1>
</div>


<%= form_tag("/create_recommendation", method: "post") do %>
  <div class = "form-row">
  <div class = "form-group col-md-6">
    <%= label_tag :flight_number, "Maximum Roundtrip Flight Budget" %> 
    <%= text_field_tag :flight_number, nil, placeholder: "Enter a number ie 200", size: 75 %>
  </div> 
  <div class = "form-group col-md-6">
    <%= label_tag :hotel_number, "Maximum Per Night Hotel Budget" %>
    <%= text_field_tag :hotel_number, nil, placeholder: "Enter a number ie 200", size: 75 %>
  </div>  
  </div>
  <div class = "form-row">
    <div class = "form-group col-md-6">
      <%= select_tag("stars", "<option>2</option><option>3</option><option>4</option><option>5</option>".html_safe, :prompt => "Select minimum number of hotel stars", :class => "form-control") %>
    </div>
    <div class = "form-group col-md-6">
      <%= select_tag("vibe_id", options_from_collection_for_select(Vibe.all, :id, :name, @destination.try(:vibe_id)), :prompt => "Select a vibe", :class => "form-control") %>
    </div>  
  </div>
  <p>
    <%= submit_tag("Show me where to go!", class:"btn btn-primary btn-lg btn-block") %>
  </p>
<% end %>

<div style="margin-top:20px">
<% @destinations.in_groups_of(3, false).each do |group| %>
<div class="row">
      <% group.each do |destination| %>
      <div class='col-md-4'>
      <a href="/destinations/<%= destination.id %>"><%= image_tag(destination.image_url, class: "img-responsive") %></a>
      </div>
      <% end %>
    </div>
<% end %>  
</div>
