<div class="page-header" align = "center" >
  <h2><%= @destination.name %></h2>
</div>

<h4 align = "center">Vibe(s): <% @destination.vibes.each do |vibe| %>
            <%= vibe.name %>
            <% end %>
          </h4>
          
<div class = "container" align = "center">
<%= image_tag(@destination.image_url, size: 750, class: "img-thumbnail") %>
</div>
<br>
</br>
<div class="row">
  <div class="col-md-12 mb-2">

      <dt>Travel & Leisure Magazine Excerpt: </dt>
      <%= @destination.description %>
      <br>
      <br>
      
      <dt> Cost of flight from Chicago: </dt>
      <% @destination.flights.each do |flight| %>
            <%= flight.min_cost %> 
            <% end %>
      </br>   
      </br>
      
  </div>
  </div>
  <div class = "row">
    <div class = "col-md-4">
    
      <dt>Map of the Area: </dt>
      <%= image_tag(@google_map) %>

    
  </div>
  
  <div class = "col-md-8">
    <dt> Hotel cost by hotel stars: </dt>
    <br>
    <br>
      <table class= "table table-striped table-hover">
       <tr>
        <th>Number of Hotel Stars</th>
        <th>Average per night hotel cost</th>
       </tr>
        <% @destination.hotels.order('stars').each do |hotel| %>
          <tr>
             <td><%= hotel.stars %></td>
             <td><%= hotel.min_cost %></td>
          </tr>   
        <% end %>
      </table>
  </div>

</div>


   <div class="row">
        <div class="col-md-6">
        <a href="/destinations" class="btn btn-block btn-primary">
        Home
        </a>
        </div>
        <div class="col-md-6">
        <% if Favorite.find_by(:user_id => current_user.id, :destination_id => @destination.id) == nil %>  
        <form action="/create_favorite" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
        <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
        <input type="hidden" name="user_id" value="<%= current_user.id %>">

      <!-- Label and input for destination_id -->
        <input type="hidden" name="destination_id" value="<%= @destination.id %>">
        <button class="btn btn-block btn-success">Favorite</button>
        </form>
        <% else %>
        <% l=Favorite.find_by(:user_id => current_user.id, :destination_id => @destination.id) %>
        <form action="/delete_favorite/<%=l.id %>" method="get">
      <!-- Hidden input for authenticity token to protect from forgery -->
        <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
        <input type="hidden" name="user_id" value="<%= current_user.id %>">

      <!-- Label and input for destination_id -->
        <input type="hidden" name="destination_id" value="<%= @destination.id %>">
        <button class="btn btn-block btn-success">Delete Favorite</button>
        </form>
        <% end %>
    </div>
  </div>



