<div class="page-header">
  <h3>Hotel #<%= @hotel.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Stars</dt>
      <dd><%= @hotel.stars %></dd>

      <dt>Min cost</dt>
      <dd><%= @hotel.min_cost %></dd>

      <dt>Destination</dt>
      <dd>
        <% if @hotel.destination.present? %>
          <a href="/destinations/<%= @hotel.destination_id %>">
            <%= @hotel.destination.name %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/hotels" class="btn btn-primary">
        Back
      </a>
      <a href="/hotels/<%= @hotel.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_hotel/<%= @hotel.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
